/* ==========================================================================
   Structure
   ========================================================================== */
/* --- Main --- */
html, body {
	height: 100%;
	width: 100%;
}

body{
	overflow: hidden;
}

html, body, a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	box-sizing: border-box;
}


/* --- Sidebar --- */
.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
}

/* ==========================================================================
   Skin
   ========================================================================== */
/* --- Main --- */
html, body {
	border: 0;
}

body{
	color: rgb(200, 200, 200);
	font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4;
}


/* --- Hud --- */
.hud {
	background-color: rgba(17, 17, 17, 0.75);
}


/* --- Sidebar --- */
.sidebar {
	border: 1px solid rgb(40, 40, 40);
}

