/* ==========================================================================
   Structure
   ========================================================================== */
/* --- Main --- */
html, body {
	height: 100%;
	width: 100%;
}

body{
	overflow: hidden;
	text-align: center;
}

html, body, a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	box-sizing: border-box;
}

/* No button or select*/
html, body, a, a:link, a:visited, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, textarea {
	margin: 0;
	padding: 0;
}

li {list-style: none;}

input, select {
	margin: 0 0 .25rem .25rem;
}

button, input, select, textarea {
	font-size: 95%;
	vertical-align: baseline;
}

input[type=text] {
	padding-left: .25rem;
	width: 7rem;
}

input[type=text].var-name {
	width: 7rem;
}

input[type=number] {
	padding-left: .25rem;
	width: 3.3rem;
}

/* --- Major screen space (Not sidebar) --- */
.majority {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 18rem;
}


/* --- Bars --- */
/* - sidebar - */
.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 18rem;
	/* TODO: Make this scrollable; */
}

.tab-container .spacer {
	float: none;
}

.tab-bar {
	position: absolute;
	top: 0;
	width: 100%;
}

.tab {
	display: inline-block;
	float: left;
	top: 0;
	width: 50%;
	/* padding has to be here so border goes all the way up */
	padding: .2rem;
}

.inspector, .assets { /* perhaps find a structural name */
	text-align: left;
	padding: 0 2.5%;
}

.sidebar section {
	position: relative; /* for abs pos children */
	padding-top: .25rem;
}

.scene-tree {
	height: auto;
	max-height: 10rem;
	/* TODO: Make this height draggable */
	/* TODO: Make this scrollable; */
}

.jump-container {
	text-align: right;
	padding-right: .5rem;
}

.transforms li {display: inline-block;}

/* - bottombar - */
.bottombar {  /* needs functional name */
	position: absolute;
	bottom: 0;
	height: 2rem;
	width: 100%;
	padding: .3rem;
	overflow: auto;
}


/* --- Intro --- */
.intro {
	height: 100%;
	width: 100%;
	padding-top: 10%;
}


/* ==========================================================================
   Functionality
   ========================================================================== */
.scrollable {overflow: scroll;}

.spacer { /* because menu elements are floats */
	visibility: hidden;
}

.collapsed {
	display: none;
}

.expanded {
	behavior: url(-ms-transform.htc);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

/* So that img won't take away from clicks on .collapser */
.collapser img { pointer-events: none; }

/* ==========================================================================
   Skin
   ========================================================================== */
/* --- Main --- */
html, body {
	border: 0;
}

body{
	color: rgb(200, 200, 200);
	font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

/* No html, body, or hr */
a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: bold;
}

li, legend {margin-bottom: .1rem;}

a, a:link, a:visited {
	color: inherit;
}

input {
	background: none;
	color: inherit;
	border: .1rem solid gray;
}

hr {
	border: 0;
	border-bottom: .1rem solid rgba(30, 30, 30, .8);  /* same as h1 background */
}

fieldset {
	border: none;
}

/* --- Hud --- */
.hud {
	background-color: rgba(35, 35, 35, 0.9);
}


.reticule {
	position: absolute;
	top: calc(50% - 18px);
	left: calc(50% - 18px);
	height: 36px;
	width: 36px;
	/* background-color: red; */
	border: rgb(109, 168, 220) solid .35em;
	border-radius: 14px;
}

.reticule div {
	background-color: rgb(109, 168, 220);
	height: 6px;
	width: 6px;
	margin: 10px;
}

/* --- Bars --- */
/* - sidebar - */
.sidebar {
	border: .1rem solid rgb(40, 40, 40);
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4,.sidebar h5, .sidebar h6 {
	color: rgb(230, 230, 230);
}

.tab {
	background-color: rgba(0, 0, 0, .3);
	border-right: .1rem solid rgb(40, 40, 40);
	border-bottom: .1rem solid rgb(40, 40, 40);
	color: rgb(180, 180, 180);
}

.tab:last-of-type {border-right: none;}

.active-tab {
	background-color: inherit;
	border-bottom: none;
	color: rgb(230, 230, 230);
}

.scene-tree-container h1 {
	background-color: rgba(30, 30, 30, .8);
}

.scene-tree-container menu {
	background-color: rgba(60, 60, 60, .7);
	border: .1rem solid rgba(30, 30, 30, .8);  /* same as h1 background */
}

.child {margin-left: 20px;}

/* components */
.obj-info h1 {
	color: rgba(252, 87, 87, 0.94); /* red */
}

.transforms h1 {
	color: rgba(106, 168, 79, 1); /* green */
}

.material h1 {
	color: rgba(255, 229, 153, 1); /* yellow */
}

/* buttons */
.collapser {
	background: none;
	border: none;
}

fieldset button {
	padding: .16rem;
}

/* extras */
.tiny-text {  /* Needs a better name */
	font-size: .8rem;
}


/* --- Intro --- */
.intro {
	background-color: rgba(17, 17, 17, 0.4);
	color: white;
	font-size: 1.7rem;
}
