
/* ==========================================================================
   Structure
   ========================================================================== */
/* --- Main --- */
html, body {
	height: 100%;
	width: 100%;
}

body{
	overflow: hidden;
	text-align: center;
}

html, body, a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	box-sizing: border-box;
}

/* No button or select*/
html, body, a, a:link, a:visited, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, textarea {
	margin: 0;
	padding: 0;
}

li {list-style: none;}

button, input, select, textarea {
	font-size: 95%;
	vertical-align: baseline;
}

/* --- Major screen space (Not sidebar) --- */
.majority {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 18rem;
}


/* --- Bars --- */
/* - sidebar - */
.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 18rem;
}

.tab-container .spacer {

}

.tab-bar {
	position: absolute;
	top: 0;
	width: 100%;
}

.tab {
	display: inline-block;
	float: left;
	top: 0;
	width: 50%;
	/* padding has to be here so border goes all the way up */
	padding: .2rem;
}

/* - bottombar - */
.bottombar {  /* needs functional name */
	position: absolute;
	bottom: 0;
	height: 2rem;
	width: 100%;
	padding: .3rem;
	overflow: auto;
}


/* --- Intro --- */
.intro {
	height: 100%;
	width: 100%;
	padding-top: 10%;
}


/* ==========================================================================
   Functionality
   ========================================================================== */

.collapsed {
	display: none;
}

.spacer { /* because menu elements are floats */
	visibility: hidden;
}


/* ==========================================================================
   Skin
   ========================================================================== */
/* --- Main --- */
html, body {
	border: 0;
}

body{
	color: rgb(200, 200, 200);
	font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}


/* --- Hud --- */
.hud {
	background-color: rgba(40, 40, 40, 0.75);
}


/* --- Bars --- */
/* - sidebar - */
.sidebar {
	border: .1rem solid rgb(40, 40, 40);
}

.tab {
	background-color: rgba(0, 0, 0, .4);
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	color: rgb(180, 180, 180);
}

.tab:last-of-type {border-right: none;}

.active-tab {
	background-color: inherit;
	border-bottom: none;
	color: rgb(230, 230, 230);
}


/* --- Intro --- */
.intro {
	background-color: rgba(17, 17, 17, 0.4);
	color: white;
	font-size: 1.7rem;
}
